.jumbotron{
    background-color: rgb(255, 179, 87);
    border: 22px ridge #D69A69;
    text-align: center;
}

.jumPic{
    width: 300px;
    height: 300px;
}
 #hold{
     background-color: rgb(248, 236, 221);
 }

.container-sm{
    max-width: 100%;
    max-height: 100%;
    margin: 5px;
}

.map{
    height: 600px;
    width: auto;
    margin-top: 100px;
    border: 22px ridge #D69A69;
}
.map-search{
    border: 5px solid #B88846;
}

.restaurant-container-md{
    height: 350px;
    border: 22px ridge #D69A69;
    font-family: 'Bebas Neue', cursive;
    overflow: scroll;
}
.hotel-container-md {
    height: 350px;
    border: 22px ridge #D69A69;
    font-family: 'Bebas Neue', cursive;
    overflow: scroll;
}
.photo-size{
    height:100px;
    width:100px;
    margin: 20px 20px;
    border: 3px solid #ffe77e;
    outline: 3px solid rgb(102, 200, 207);
}

#search{
    background-color: rgb(102, 200, 207);
}

.hide {
    display: none;
}

.custom-map-control-button{
    height:30px;
    color: rgb(51, 45, 45)
}