.jumbotron{
    background-color: rgb(253, 232, 139);
    border: 10px solid rgb(138, 209, 221);
    text-align: center;
}

.jumPic{
    width: 300px;
    height: 300px;
}
.container-sm{
    max-width: 100%;
    max-height: 100%;
    border: 2px solid black;
}
.map{
    height: 600px;
    width: auto;
    border: 1px solid black;

}
.map-search{
    border: 1px solid black;

}
.restaurant-container-md{
    height: 300px;
    
}
.attract-container-md {
    height: 300px;
}
.photo-size{
height:100px;
width:100px;
}